<section class="hero is-info is-medium is-bold">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="../">
            <!-- <img src="http://bulma.io/images/bulma-type-white.png" alt="Logo"> -->
            <span class="is-large"> Chatt-APP</span>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <div class="tabs is-right">
              <ul>
                <li class="is-active"><a>Home</a></li>
                <li class="sr-only"><a href="">Examples</a></li>
                <li class="sr-only"><a href="">Features</a></li>
                <li class="sr-only"><a href="">Team</a></li>
                <li><a href="">Help</a></li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        The new standard in &lt;insert industry here&gt;
      </h1>
      <h2 class="subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
      </h2>
    </div>
  </div>
</section>